@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
  --iron: #d3d3d3;
  --red-orange: #f6362f;
  --shark: #282931;
  --media-breakpoint: 768px;
  --lato: lato, sans-serif;
  --inter: inter, sans-serif;
}

* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--iron);
  font-family: var(--lato);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

a,
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  font-weight: normal;
  color: var(--shark);
  cursor: pointer;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* ||Override default style------------------------- */

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

/* ||background------------------------- */
.bg {
  position: absolute;
  top: 0;
  background-color: white;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
  z-index: -1;
}

/* ||mobile nav-bar------------------------- */
header {
  width: 100%;
  padding: 12px 24px;
  background-color: var(--iron);
}

.mobile-nav {
  width: calc(100% - 48px);
  height: 100%;
  padding: 12px 24px;
  background-color: white;
  background-color: transparent;
}

.mobile-menu-button {
  height: 100%;
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--shark);
}

.mobile-menu-button:hover {
  background-color: var(--iron);
}

.desktop-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--iron);
  padding-left: calc(
    0.2 * (100vw - var(--media-breakpoint)) + 12px
  );
  padding-right: calc(
    0.2 * (100vw - var(--media-breakpoint)) + 12px
  );
}

.desktop-nav .logo {
  font-size: 24px;
  font-weight: 700;
  color: var(--shark);
}

.desktop-nav .logo-text {
  font-size: 24px;
  font-weight: 700;
  color: var(--shark);
}

.page-navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}

.desktop-nav .page-navigation li {
  font-size: 16px;
  font-weight: 800;
  padding: 8px;
  border: 1px solid transparent;
  border-radius: 12px;
}

/* ||| Mobile menu----------------------------------------- */
.mobile-menu {
  display: none;
  position: absolute;
  top: 0;
  min-height: 100vh;
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  gap: 100px;
  z-index: 2;
  background-color: #fffc;
  backdrop-filter: blur(8px);
}

.toolbar {
  position: absolute;
  top: 0;
  display: flex;
  width: 100%;
  justify-content: end;
}

.cancel {
  margin: 12px 24px;
  padding: 12px;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  background-color: var(--shark);
  color: var(--red-orange);
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  margin-top: 20%;
  font-size: 32px;
  font-weight: 700;
  color: var(--shark);
  text-align: center;
}

.mobile-menu .page-navigation {
  flex-direction: column;
  align-items: center;
  gap: 14px;
  font-size: 32px;
  font-weight: 600;
}

.mobile-menu .page-navigation li {
  width: calc(100% - 24px);
}

.mobile-menu .page-navigation button {
  display: block;
  width: 100%;
  padding: 12px 24px;
  border-radius: 20px;
}

.mobile-menu .page-navigation button:hover {
  background-color: var(--iron);
}

.desktop-nav .page-navigation li:hover {
  font-size: 16px;
  font-weight: 800;
  background-color: white;
  border: 1px solid var(--red-orange);
}

/* ||main content------------------------- */
main {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  padding: 24px;
  width: 100%;
  flex: 2 1;
}

/* the date style */

.date {
  padding: 12px;
  font-size: 12px;
  font-weight: 700;
  font-family: var(--inter);
  text-align: right;
  align-self: flex-end;
  margin-right: 48px;
}

section {
  display: none;
}

/* ||home section------------------------- */
#home {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

h1.section-title {
  color: var(--shark);
  font-size: 24px;
  text-align: center;
}

/* ||Book Container------------------------- */
#container {
  overflow-y: scroll;
  min-height: 300px;
  max-height: 55vh;
  border: 2px solid var(--shark);
  display: flex;
  flex-direction: column;
  gap: 5px;
}

td {
  text-align: center;
}

tr {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* ||home section------------------------- */
#add-new {
  flex-direction: column;
  justify-content: flex-start;
  gap: 40px;
}

/* ||Form------------------------- */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  margin: 0 10%;
  border: 2px solid var(--shark);
  padding: 12px;
}

.input-container {
  display: flex;
  flex-direction: column;
  width: fit-content;
  gap: 2px;
  justify-content: center;
  align-items: center;
}

label {
  display: flex;
  width: 240px;
  justify-content: space-between;
  align-items: center;
}

h3 {
  font-size: 16px;
  margin: 5px;
}

input {
  height: 30px;
  padding: 0 5px;
}

small {
  width: 50%;
  align-self: flex-end;
  text-align: center;
  font-size: smaller;
  min-height: 12px;
}

.add-book {
  align-self: center;
}

/* ||contact section------------------------- */
#contact {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  gap: 40px;
}

.contact-info {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 60px;
}

.contact-info div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  width: 300px;
  border: 3px solid var(--red-orange);
  border-radius: 40px;
  padding: 24px;
}

.contact-info h3 {
  font-size: 24px;
}

.social {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 24px;
  align-items: center;
  font-size: 24px;
}

/* ||Buttons------------------------- */
.remove-button {
  background-color: white;
  padding: 6px;
  border: 0.5px solid var(--red-orange);
  color: var(--shark);
  border-radius: 4px;
  width: fit-content;
}

.remove-button:hover {
  border: 0.5px solid transparent;
  background-color: var(--red-orange);
  color: white;
  cursor: pointer;
}

.remove-button:active {
  border: 0.5px solid #172b4d;
  background: var(--red-orange);
  cursor: pointer;
}

.add-button {
  background-color: var(--shark);
  padding: 12px;
  border: 0.5px solid transparent;
  color: white;
  border-radius: 4px;
  width: fit-content;
}

.add-button:hover {
  border: 0.5px solid transparent;
  box-shadow: 0 8px 16px 0 var(--shark);
  cursor: pointer;
}

.add-button:active {
  border: 0.5px solid #172b4d;
  background: var(--shark);
  cursor: pointer;
}

/* |||@media mobile only-------------------------------------- */

@media only screen and (max-width: 768px) {
  .desktop-nav {
    display: none;
  }

  #date-container {
    display: none;
  }

  header {
    background-color: var(--iron);
    background-color: transparent;
  }
}

/* |||@media desktop only -------------------------------------- */

@media only screen and (min-width: 768px) {
  .mobile-nav {
    display: none;
  }

  .desktop-nav {
    display: flex;
  }

  .mobile-menu {
    display: none;
  }

  #date-container {
    display: block;
  }

  /* main */
  main {
    padding-left: calc(
      0.2 * (100vw - var(--media-breakpoint)) + 12px
    );
    padding-right: calc(
      0.2 * (100vw - var(--media-breakpoint)) + 12px
    );
  }
}

/* ||footer/copyright------------------------- */
.copyright {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 12px 24px;
  background-color: var(--iron);
}

.copyright .logo {
  width: fit-content;
  font-size: 48px;
  font-weight: 600;
}

.copyright .logo-text {
  width: 60%;
  font-size: 16px;
  font-family: var(--inter);
}

#form-validation {
  text-align: center;
  align-self: center;
  color: white;
}
